body {
    display: flex;
    justify-content: space-around;
    height: 865px;
    background-color: rgb(211, 193, 136);
}

.calculator {
    height: 540px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1B2430;
    border-radius: 15px;
}

.display {
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border: white solid 1px;
    border-radius: 5px;
    color: white;
    font-size: 45px;
    background-color: #2e3e53;
}

.display div {
    color: white;
    font-size: 25px;
}

.buttonsBar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3px;
}

.stringButton {
    display: flex;
    justify-content: space-around;
}

.button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #BB98B6;
    color: black;
    font-size: larger;
}

.button:hover {
    background-color: #47505E;
    color: #DAF3FF;
}

.button:active {
    background-color: #C3FCF1;
    color: black;
}

#backspace,
.operateButton {
    background-color: #F9F871;
}

#backspace:hover,
.operateButton:hover {
    background-color: #FFAF66;
    color: black;
}

#backspace:active,
.operateButton:active {
    background-color: #C3FCF1;
    color: black;
}

#equal {
    background-color: #33B07A;
}

#equal:hover {
    background-color: #007160;
}

#equal:active {
    background-color: #78C664;
    color: black;

}

#clear {
    background-color: #FF8B8B;
    color: black;
    width: 142px;
    border-radius: 30px;
}

#clear:hover {
    background-color: #C35659;
}

#clear:active {
    background-color: #C3FCF1;
    color: red;
}